* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3b36cc;
  color: white;
   font-family: "Noto Sans TC", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 400px;
  margin: 50px auto;
  background-color: #3823af;
  color: #000000;
  padding: 20px;
  border-radius: 4%;
  text-align: center;
  border-radius: 20px;
  h2 {
    margin: 20px 40px 20px 40px;
    font-size: 54px;
  }
}

.btn {
  background-color: #b6e708;
  color: #440a82;
  border: none;
  padding: 1px 1px;
  font-size: 12px;
 

  &:hover {
    background-color: #e31d1d;
    color: #b6e708;
    border: 2px solid #b6e708;
  }
}
.create-form {
  height: 40px;
  width: 100%;
  margin: 25px 0;
  border: 1px solid #2a25ac;
  display: flex;
}
.create-form > input {
  outline: none;
  border: none;
  background: none;
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: #e6e6e6 solid 1px;
}
.create-form > button {
  border: none;
  background-color: #3636cc;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 100%;
  cursor: pointer;
  border: #e6e6e6 solid 1px;
}
.todo {
  background-color: #0790ff;
  height: 40px;
  padding: 0 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.completed {
  opacity: 0.3;
  text-decoration: line-through 1px rgb(255, 255, 255);
}
